body{
    background-color: rgb(6, 76, 133);
    color: white;
}

h1{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
    
}

.changetable{
    width: 100%;
}

label , input{
    width: 100%;
    margin: auto;
}

